body {
    color: rgb(255, 255, 255);
    font-size: 13px;
    background: url(https://cdn.mos.cms.futurecdn.net/wXYTTkzuHmLfs4JDSEQRwP.gif);
    background-size: cover;
    text-decoration: none;
    list-style: none;
}